# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# VS Code related
.vscode/

# Flutter & Dart dependencies in source code
**/source_code/**/.dart_tool/
**/source_code/**/.flutter-plugins
**/source_code/**/.flutter-plugins-dependencies
**/source_code/**/.packages
**/source_code/**/build/

# Android build artifacts in source code
**/source_code/**/android/app/debug/
**/source_code/**/android/app/profile/
**/source_code/**/android/app/release/
**/source_code/**/.gradle/
**/source_code/**/local.properties

# iOS / macOS build artifacts in source code
**/source_code/**/ios/Flutter/App.framework
**/source_code/**/ios/Flutter/Flutter.framework
**/source_code/**/ios/Flutter/Flutter.podspec
**/source_code/**/ios/Pods/
**/source_code/**/ios/.symlinks/

# Node / Vercel
node_modules/
.vercel/
